<ng-container *ngIf="currentDemo | signal as demo">
  <div class="demo-list">
    <div class="demo-link"
         [class.active]="demo ===DEMOS.README_SIGNAL"
         (click)="openDemo(DEMOS.README_SIGNAL)">
      Readme signal
    </div>

    <div class="demo-link"
         [class.active]="demo ===DEMOS.README_COMPUTED"
         (click)="openDemo(DEMOS.README_COMPUTED)">
      Readme computed
    </div>

    <div class="demo-link"
         [class.active]="demo ===DEMOS.README_EFFECT"
         (click)="openDemo(DEMOS.README_EFFECT)">
      Readme effect
    </div>

    <div class="demo-link"
         [class.active]="demo ===DEMOS.README_TO_OBSERVABLE"
         (click)="openDemo(DEMOS.README_TO_OBSERVABLE)">
      Readme toObservable
    </div>

    <div class="demo-link"
         [class.active]="demo ===DEMOS.README_TO_SIGNAL"
         (click)="openDemo(DEMOS.README_TO_SIGNAL)">
      Readme toSignal
    </div>

    <div class="demo-link"
         [class.active]="demo ===DEMOS.TWO_CHILDREN"
         (click)="openDemo(DEMOS.TWO_CHILDREN)">
      Two children
    </div>
  </div>

  <div class="demo-container">
    <app-readme-signal *ngIf="demo === DEMOS.README_SIGNAL"></app-readme-signal>
    <app-readme-computed *ngIf="demo === DEMOS.README_COMPUTED"></app-readme-computed>
    <app-readme-effect *ngIf="demo === DEMOS.README_EFFECT"></app-readme-effect>
    <app-readme-to-observable *ngIf="demo === DEMOS.README_TO_OBSERVABLE"></app-readme-to-observable>
    <app-readme-to-signal *ngIf="demo === DEMOS.README_TO_SIGNAL"></app-readme-to-signal>
    <app-two-children-demo *ngIf="demo === DEMOS.TWO_CHILDREN"></app-two-children-demo>
  </div>
</ng-container>

